
.container{
  text-align: center;
  line-height: 25px;
  font-family: 'Times New Roman', sans-serif;
  border-radius: 5px;
  margin: 25px; 
  }  

.row{
background-image: linear-gradient(to right,rgb(231, 231, 217),rgb(188, 90, 188),white);
}
.col{
background-color: rgb(128, 119, 0);
color: rgb(140, 18, 18);
margin: 10px;
padding: 10px;
border-radius:5px ;

}


/*LED 1*/
.tab1{
background-color: rgb(85, 85, 85);
color: white;
float: left;
border:none;
padding: 14px 16px;
height: auto;
width: 65px;

}
/*LED 2*/
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}


.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgb(255, 192, 250);
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: rgb(121, 19, 104);

-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: rgb(234, 214, 234);
}

input:focus + .slider {
box-shadow: 0 0 1px pink;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

.slider.round {
border-radius: 20px;
}

.slider.round:before {
border-radius: 50%;
}

.m{
display: none;
}

#theImage { visibility: hidden; }

.highcharts-figure,
.highcharts-data-table table {
  min-width: 360px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #631f1f;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #d1278d;
}

.highcharts-data-table tr:hover {
  background: #b742aa;
}
/*dongho*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  }
  
  
  .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 192, 250);
  -webkit-transition: .4s;
  transition: .4s;
  }